* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #256EC1;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #58A557;
}


/* HEADER */

header  {
    padding: 25px 35px;
    background-color: #256EC1;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #E7FBE7;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header a {
    text-decoration: none;
    color: #58A557;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a:hover {
  background: #58A557;
  color: #2547F1;
  border-radius: 15px;
  text-shadow: none;
}



/* HERO */

.hero {
    background-image: url(../images/Mandel_zoom_00_mandelbrot_set.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-content {
    width: 35%;
    padding-top: 40px;
    padding-bottom: 160px;
    text-align: center;
    margin-left: 0;
}

.hero-content h2 {
    font-style: italic;
    font-size: 55px;
    color: #58A557;
}



/*about-me SECTION */

.about-me-sect {
    
    margin: 25px 5px;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #256EC1;
    
}
.about-me-sect h2 {
    color: #256EC1;
    font-size: 46px;
    flex: 1 30%;
}

.about-me-sect-content {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 3px solid  #256EC1;
}

.about-me-sect-img {
    flex: 1 12%;
    margin-right: 20px;
    margin-left: 10px;
}

.about-me-sect-img img{
    max-width: 100%;
}

.about-me-sect-text {
    flex: 12;
}


/* WORK SECTION */

.work-sect {
    margin: 25px 5px;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #256EC1;
    
}

.work-sect h2 {
    color: #256EC1;
    font-size: 46px;
    flex: 1 30%;
}

.work-content {
    flex: 1 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 3px solid  #256EC1;
}

.work-element1 {
    flex: 2 12%;
    margin-right: 20px;
    margin-left: 10px;
    max-width: 100%;
    border: 3px solid  #256EC1;
}
.work-element2 {
    flex: 1 12%;
    margin-right: 20px;
    margin-left: 10px;
    max-width: 50%;
    border: 3px solid  #256EC1;
}

.work-img1 {
    position: relative;
    text-align: center;
    color: white;
  }

.work-img2 {
    position: relative;
    text-align: center;
    color: white;
  }

.work-img1 img{
    max-width: 100%;
}

.work-img2 img{
    max-width: 100%;
}
  
 
.work-img-text {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: #0A1137;
    background-color: #256EC1;
  }







  /* CONTACT INFO SECTION */
  .contact-info-sect {
    margin: 25px 5px;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #256EC1;
    
}

.contact-info-sect h2 {
    color: #256EC1;
    font-size: 46px;
    flex: 1 30%;
}

.contact-info-content {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 3px solid  #256EC1;
}

.contact-info-element {
    flex: 1 12%;
    margin-right: 20px;
    margin-left: 10px;
}